.navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration-style: none;
}
.me-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: black!important;
}
.bg-dark {
  background-color: rgb(124, 97, 6)!important;
}
.navbar-brand img {
  width: 50%;
  display: flex;
  justify-content:flex-start;
  align-items: baseline;   
}
nav {
  height: 8rem;
 }