.miApp {
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace
  }
  .header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: cornflowerblue;
  }
  .titulo {
    font-weight: 900;
    box-shadow: 5px 5px 10px grey;
  }
  .nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }